.animation-layer {
  background-position: center center; /* Center the background image */
  background-size: cover; /* Cover the entire area without repeating */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100%;
  height: 100%;
  position: absolute;
}

.animation-layer.parallax {
  position: fixed;
}

/* Background image IDs */
#one {
  background-image: url(/src/assets/home/black.png);
}

#eight {
  background-image: url(/src/assets/home/pic1.png);
}

#nine {
  background-image: url(/src/assets/home/pic2.png);
}

#ten {
  background-image: url(/src/assets/home/pic3.png);
}

#eleven {
  background-image: url(/src/assets/home/pic4.png);
}

.parallax-wrapper {
  overflow-y: hidden;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .parallax-wrapper {
    display: none; /* Hide parallax on smaller screens */
  }
}
