/* Container for the logos */
.logo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

/* Individual logo container */
.logo-item {
  flex-shrink: 0;
  margin: 0 2rem;
}
.shadow-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%; /* Cover 20% of the width */
  background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent); /* White shadow */
  z-index: 10;
}

/* Right shadow overlay */
.shadow-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%; /* Cover 20% of the width */
  background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent); /* White shadow */
  z-index: 10;
}