/* src/components/CustomCursor.css */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.particle {
  position: fixed;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}
