@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 80px; /* Adjust based on the height of your navbar */
}

.service__heading {
  @apply text-4xl leading-10 mt-7 text-yellow-500;
}

::placeholder {
  text-align: center;
  color: black;
}

.placeholder-center {
  @apply flex items-center justify-center h-full;
}

.symbol {
  @apply text-red-500 text-lg px-1;
}

.active::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border: 0.35em solid transparent;
  border-right-color: #fff;
}
body {
  background-color: #e5e8ea;
}

body {
  font-family: 'Mozilla Text', sans-serif;
}


